name: Pipeline CI
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm install
        working-directory: ./src/azure-blob
      - name: Run ESLint
        run: npx eslint . --ext .js,.jsx,.ts,.tsx
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm install
        working-directory: ./src/azure-blob
      - name: Run tests
        run: npm test

  sonarqubeanalysis:
    runs-on: ubuntu-latest
    steps:
      - name: step 3a
        run: echo "Hello World"
      - name: step 3b
        run: echo "Done"
