name: Pipeline CI
on: [push, pull_request]
jobs:
  Linter:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/azure-blob
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm install
      - name: Run ESLint
        run: npx eslint .

  Unit Tests & SonarQube:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/azure-blob
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm install
      - name: Run tests with Coverage
        env:
          AZURE_STORAGE_ACCOUNT_NAME: ${{ secrets.AZURE_STORAGE_ACCOUNT_NAME }}
          AZURE_STORAGE_ACCOUNT_KEY: ${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }}
          AZURE_CONTAINER_NAME: ${{ secrets.AZURE_CONTAINER_NAME }}
        run: npm test
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@master
        with:
          projectBaseDir: src/azure-blob
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
