name: Pipeline CI
on: workflow_dispatch
jobs: 
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: step 1a
        run: echo "Hello World"
      - name: step 1b
        run: echo "Done"
  test:
    runs-on: ubuntu-latest
    steps: 
      - name: step 2a
        run: echo "Hello World"
      - name: step 2b
        run: echo "Done"
  sonarqubeanalysis:
    runs-on: ubuntu-latest
    steps:
      - name: step 3a
        run: echo "Hello World"
      - name: step 3b
        run: echo "Done"
