name: Pipeline CI
on: [push, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/azure-blob
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm install
      - name: Run ESLint
        run: npx eslint .
      - name: Run tests with Coverage
        env:
          AZURE_STORAGE_ACCOUNT_NAME: ${{ secrets.AZURE_STORAGE_ACCOUNT_NAME }}
          AZURE_STORAGE_ACCOUNT_KEY: ${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }}
          AZURE_CONTAINER_NAME: ${{ secrets.AZURE_CONTAINER_NAME }}
        run: npm test
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@master
        with:
          projectBaseDir: src/azure-blob
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
  build-and-push:
    runs-on: ubuntu-latest
    needs: tests # ONLY build if the 88.24% coverage & Sonar scan pass
    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./src/azure-blob
          push: false # Set to true once you have an Azure Container Registry
          # We pass the GitHub secrets into the Docker build safely here
          secrets: |
            "AZURE_STORAGE_ACCOUNT_NAME=${{ secrets.AZURE_STORAGE_ACCOUNT_NAME }}"
            "AZURE_STORAGE_ACCOUNT_KEY=${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }}"
            "AZURE_CONTAINER_NAME=${{ secrets.AZURE_CONTAINER_NAME }}"
          tags: filevault-app:latest
