name: Pipeline CI
on: push
jobs:
  lintAndUnitTests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/azure-blob
    steps:
      - name: Get code
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm install
      - name: Run ESLint
        run: npx eslint .
      - name: Run tests
        env:
          AZURE_STORAGE_ACCOUNT_NAME: ${{ secrets.AZURE_STORAGE_ACCOUNT_NAME }}
          AZURE_STORAGE_ACCOUNT_KEY: ${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }}
          AZURE_CONTAINER_NAME: ${{ secrets.AZURE_CONTAINER_NAME }}
        run: npm test
  sonarqubeanalysis:
    runs-on: ubuntu-latest
    steps:
      - name: step 3a
        run: echo "Hello World"
      - name: step 3b
        run: echo "Done"
